services:
  mongo:
    image: mongo
    container_name: myapp-mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - myapp-network

  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    container_name: myapp-backend
    ports:
      - "5000:5000"
    depends_on:
      - mongo
    volumes:
      - ./backend:/app
      - /app/node_modules
    networks:
      - myapp-network
    environment:
      - MONGODB_URI=mongodb://mongo:27017/helsedb
    command: npm run dev


  frontend:
    build: ./frontend
    container_name: myapp-frontend
    restart: unless-stopped
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend
    stdin_open: true
    tty: true
    environment:
      - CHOKIDAR_USEPOLLING=true
      - BACKEND_PROXY=http://backend:5000
    networks:
      - myapp-network


networks:
  myapp-network:
    driver: bridge

volumes:
  mongo-data:
